* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section{
text-align: center;
}

#complimentButton{
    background-color: #1d1717;
    width: 150px;
    height: 50px;
    color: blanchedalmond;
    border: none;
    margin: 5px;
    border-radius: 10px;
    border-style: solid;
    border-color: #f2ebeb;
}

#fortuneButton{
    background-color: #1d1717;
    width: 150px;
    height: 50px;
    color: blanchedalmond;
    border: none;
    margin: 5px;
    border-radius: 10px;
    border-style: solid;
    border-color: #f2ebeb;
}

#motivationButton{
    background-color: #1d1717;
    width: 150px;
    height: 50px;
    color: blanchedalmond;
    border: none;
    margin: 5px;
    border-radius: 10px;
    border-style: solid;
    border-color: #f2ebeb;
}

body {
    background-color: #fbf9f5;
    background: url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/monstera-deliciosa-farida-nurieva.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

h4 {
    height: 80px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    color: rgb(245, 243, 240);
}

main {
    display: flex; 
    justify-content: center;
    align-items: center;
}

form {
    width: 400px;
    height: 350px;
    background-color: rgb(28, 59, 27);
    position: relative;
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center;
    margin: 40px;
    border-radius: 10px;
    border-style: solid;
    border-color: #eefafa;
    /* text-decoration-color: #eefafa; */
}

.title{
    color: #f5faf9;
}


#submitBtn{
    background-color: #1d1717;
    width: 75px;
    height: 25px;
    color: blanchedalmond;
    border: none;
    margin: 5px;
    border-radius: 5px;
    border-style: solid;
    border-color: #f2ebeb;
}

input[type='text'] {
    width: 85%;
    height: 30px;
    border-style: solid;
    border-color: #040404;
    border-radius: 5px;
    color: #060606;
    background-color: rgb(250, 252, 252);
  
}


#goals-container {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #e4e3de;
    align-items: center;
    border-style:solid;
    border-radius: 5px;
    border-color: #040303;
    
}

.boxed{
    background-color: #d8e9dc;
    align-items: center;
}

button {
    background-color: #232323;
    width: 75px;
    height: 25px;
    color: blanchedalmond;
    border-radius: 5px;
    border-style: solid;
    border-color: #f2ebeb;
    margin: 5px;
}

.goal-card {
    background-color: rgb(28, 59, 27);
    width: 200px;
    margin: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}



/* Dropdown Button */
.dropbtn {
    background-color: #1d1717;
    width: 150px;
    height: 50px;
    color: blanchedalmond;
    border: none;
    margin: 5px;
    border-radius: 10px;
    border-style: solid;
    border-color: #f2ebeb;

  }

  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}